<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block content %}
    <h1>{{ title }}</h1>
    <h2>Пользователи</h2>
    <table class="table table-bordered">
        <tr>
            <th>Пользователь(логин)</th>
            <th>Имя</th>
            <th>Телефон</th>

        </tr>
        {% for row in users %}
        <tr>
            <td>{{ row.email }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.phone }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}
</head>
<body>

</body>
</html>